
@{
    ViewBag.Title = "Product";
}

<h2>Product</h2>

<input type="button" id="btnClick" value="Click" />

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnClick").click(function () {
            //$.ajax({
            //    url: "/api/ProductApi/Product",
            //    type: "GET",
            //    dataType: "json",
            //    success: function (product) {
            //        alert(product.Name);
            //    }
            //});
            $.getJSON('/api/ProductApi/Product').done(function (product) {
                alert(product.Name);
            });
        });
    });
</script>